<!DOCTYPE html>
<html lang="en" class="{% block theme_class %}light-mode{% endblock %}">
<head>
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <link rel="stylesheet" href="{% static 'css/dark.css' %}">
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include 'components/header.html' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'components/footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
